{
  // Database Configurations
  "DB_HOST": "localhost",
  "DB_USERNAME": "postgres",
  "DB_PASSWORD": "postgres",
  "DB_NAME": "hipauthdb",

  // Admin Credentials
  "ADMIN_EMAIL": "admin@hipapp.de",
  "ADMIN_PASSWORD": "Hipcms@123",

  "ALLOW_HTTP": true
}