{
  // Database Configurations
  "DB_HOST": "localhost",
  "DB_USERNAME": "postgres",
  "DB_PASSWORD": "postgres",
  "DB_NAME": "hipauthdb",

  // Auth Configurations
  "CLIENT_ID": "HiP-CmsWebApiClientId",
  "DOMAIN": "http://localhost:5001/",
  
  // Admin Credentials
  "ADMIN_EMAIL": "admin@hipapp.de",
  "ADMIN_PASSWORD": "admin",

  "ALLOW_HTTP": true
}
